<%- include ("partials/header"); %>

<div class="contained">
    <form class="form" action="/<%= animal._id %>?_method=PUT" method="POST">
       <div class="form-group">
           <label>Pet ID</label>
           <input type="text" name="animal[petId]" value="<%= animal.petId %>">
       </div>
       <div class="form-group">
        <label>Species</label>
            <select name="animal[species]" selected="<% animal.species %>">
                <option value="cat">Cat</option>
                <option value="dog">Dog</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="animal[name]" value="<%= animal.name %>">
        </div>
        <div class="form-group">
            <label>Sex</label>
            <input type="text" name="animal[sex]" value="<%= animal.sex %>">
        </div>
        <div class="form-group">
            <label>Breed</label>
            <input type="text" name="animal[breed]" value="<%= animal.breed %>">
        </div>
        <div class="form-group">
            <label>Age</label>
            <input type="text" name="animal[age]" value="<%= animal.age %>">
        </div>
        <div class="form-group">
            <label>Intake Date</label>
            <input type="date" name="animal[intake]" value="<%= animal.intake %> ">
        </div>
        <div class="form-group">
            <label>Altered?</label>
            <select class="form-control" name="animal[altered]">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group">
            <label>Altered Date</label>
            <input type="date" name="animal[alteredDate]" value="<%= animal.alteredDate %>">
        </div>
        <div class="form-group">
            <label>Comments</label>
            <textarea class="form-control" rows="3" name="animal[body]" value="<%= animal.body %>"></textarea>
        </div>
        <input class="ui grey big basic button" type="submit">
    </form>  
</div>

<%- include ("partials/footer") %>