<%- include ("../partials/header"); %>

<h1>dogs</h1>
    <table class="table table-bordered table-dark">
        <tr>
                <th>Pet ID</th>
                <th>Name</th>
                <th>Breed</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Altered</th>
                <th>Alter Date</th>
                <th>Intake Date</th>
        </tr>
        
            <% dogs.forEach(dogs => { %>
                <% if(dogs.species == "dog"){ %>
                    <tr>
                        <td><%= dogs.petId %></td>
                        <td><a href="/<%= dogs._id %>"><%= dogs.name %></a></td>
                        <td><%= dogs.breed %></td>
                        <td><%= dogs.age %></td>
                        <td><%= dogs.sex %></td>
                        <td><%= dogs.altered %></td>
                        <% if (dogs.alteredDate != null){ %>
                        <td><%= dogs.alteredDate %></td>
                        <% } %>
                        <% if (dogs.intake != null) {%>
                        <td><%= dogs.intake%></td>
                        <% } %>
                    </tr>
                <% } %>
            <% }) %>
        
        

        
    </table>
    <a class="btn btn-dark" href="/New">New Dog</a>
    
    



<%- include ("../partials/footer"); %>