<%- include ("../partials/header"); %>
    <table class="table table-bordered table-dark">
        <tr>
                <th>Pet ID</th>
                <th>Name</th>
                <th>Breed</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Altered</th>
                <th>Alter Date</th>
                <th>Intake Date</th>
        </tr>
        
            <% dogs.forEach(dog => { %>
            <tr>
                <td><%= dog.petId %></td>
                <td><a href="/<%= dogs/dog._id %>"><%= dog.name %></a></td>
                <td><%= dog.breed %></td>
                <td><%= dog.age %></td>
                <td><%= dog.sex %></td>
                <td><%= dog.altered %></td>
                <td><%= dog.alteredDate %></td>
                <td><%= dog.intake %></td>
            </tr>
            <% }) %>
        
        

        
    </table>
    <a class="btn btn-dark" href="/dogNew">New Dog</a>
    
    



<%- include ("../partials/footer"); %>