<!DOCTYPE html>
<html>

<head>
  <title>Animal Application</title>
  <link rel="stylesheet" type="text/css" href="/CSS/app.css">
  <link rel="stylesheet" type="text/css" href="/CSS/application.css">
  <link rel="stylesheet" type="text/css" href="/CSS/bootstrap.min.css">
  <link href="https://global.oktacdn.com/okta-signin-widget/4.1.4/css/okta-sign-in.min.css" type="text/css"
    rel="stylesheet" />
</head>

    <body>
        <form action="/application" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" name="name" placeholder="name"  value="<%= application.name %>"required>
            </div>
            
            <div class="form-group">
                <label for="otherName">Other names used(including maiden name)</label>
                <input class="form-control" type="text" name="otherName" placeholder="Other Names" value="<%= application.otherName %>">
            </div>
            
            <div class="form-group">
                <label for="DOB">Date of Birth</label>
                <input class="form-control" type="date" name="dob" placeholder="Date of birth" value="<%= application.dob %>" required>
            </div>

            <div class="form-group">
                <label for="Phone">Phone Number</label>
                <input class="form-control" type="tel" name="phoneNumber" placeholder="Phone #" value="<%= application.phoneNumber %>" required>
            </div>
           
            <div class="form-group">
                <label for="Email">Email Address</label>
                <input class="form-control" type="email" name="emailAddress" placeholder="bob@email.com" value="<%= application.emailAddress %>" required>
            </div>
            
            <div class="form-group">
                <label for="Address">Home Address</label>
                <input class="form-control" type="text" name="homeAddress" placeholder="555 Willow Lane, Boulder, CO 80301" value="<%= application.homeAddress %>" required>
            </div>
            
            <div class="form-group">
                <label for="petName">What is the name of the pet you would like to adopt?</label>
                <input class="form-control" type="text" name="petAdopt" placeholder="Shadow" value="<%= application.petAdopt %>">
            </div>
            
            <div class="form-group">
                <label for="unsure">If you do not have a specific adoptable pet in mind, what type of pet are you looking for?(species, gender, age, size)</label>
                <textarea class="form-control" name="typeOfPet" placeholder="Add text here" ><%= application.typeOfPet %></textarea>
            </div>
            <div class="form-group">
                <span>Number of other adults in the household:</span>
                <table class="table table-bordered table-striped contained">
                    <tr>
                        <td>Name:</td>
                        <td>Date of Birth</td>
                    </tr>
                    <tr>
                        <td><input name="adult1" type="text" class="table-control" value="<%= application.adult1 %>"></td>
                        <td><input name="dob1" type="date" class="table-control" value="<%= application.dob1 %> "></td>
                    </tr>
                    <tr>
                        <td><input name="adult2" type="text" class="table-control"></td>
                        <td><input name="dob2" type="date" class="table-control"></td>
                    </tr>
                    <tr>
                        <td><input name="adult3" type="text" class="table-control"></td>
                        <td><input name="dob3" type="date" class="table-control"></td>
                    </tr>
                    <tr>
                        <td><input name="adult4" type="text" class="table-control"></td>
                        <td><input name="dob4" type="date" class="table-control"></td>
                    </tr>
                    <tr>
                        <td><input name="adult5" type="text" class="table-control"></td>
                        <td><input name="dob5" type="date" class="table-control"></td>
                    </tr>
                </table>

            </div>
            <div class="form-group ">
                <label>Do you have any children under the age of 5 years? If so, how many and please list ages.(no names)</label>
                <select class="form-control" name="hmchildren">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
                <textarea cols="100" name="hmchildren2" placeholder="How many children under 5 years?"></textarea>
            </div>

            <div class="form-group">
                <Label>How long have you lived at your current address?</Label>
                <input class="form-control" type="number" name="currAddress" required>years.
                
            </div>
            <div class="form-group">
                <Label>Do you have steady employment?</Label>
                <select class="form-control" name="steadyEmployment">
                    <option value="">Please choose one</option>
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </div>

            <div class="form-group">
                <Label>Why do you want to adopt this pet?</Label>
                <textarea class="form-control" cols="50" name="whyAdopt" required></textarea>
            </div>
            
            <div class="form-group">
                <Label>What personality are you seeking?</Label>
                <textarea class="form-control" cols="50" name="personality"></textarea>
            </div>
            
            <div class="form-group">
                <Label>What pet behaviors are unacceptable to you and how would you address them?</Label>
                <textarea class="form-control" cols="50" name="unacceptable"></textarea>
            </div>

            <div class="form-group">
                <Label>Do you rent or own?</Label>
                <select class="form-control" name="ownorRent">
                    <option value="">Please choose one</option>
                    <option value="Rent">Rent</option>
                    <option value="Own">Own</option>
                </select>
            </div>
            
            <div class="form-group">
                <Label>If rent, have you check with your landlord or city ordinances?</Label>
                <span class="font-weight-bold font-italic">Great Tails Animal Rescue reserves the right to schedule a phone or in-person interview with your landlord prior to any adoption being finalized.</span>
                <textarea class="form-control" cols="50" name="checkWithLord"></textarea>
            </div>
            
            <div class="form-group">
                <Label>Landlord/Management Company</Label>
                <input class="form-control" type="text" name="landLord" >
            </div>
            
            <div class="form-group">
                <Label>Landlord/Management Company Phone</Label>
                <input class="form-control" type="text" name="landLordPhone" >
            </div>

            <div class="form-group">
                <Label>If you have pets what species, age, and breeds are they and are they up to date on vaccines and spayed or neutered?</Label>
                <textarea class="form-control" cols="50" name="otherPets"></textarea>
            </div>
            
            <div class="form-group">
                <Label>Do you know if your current pet(s) get along well with other pets?</Label>
                <textarea class="form-control" cols="50" name="getAlong"></textarea>
            </div>
            
            <div class="form-group">
                <Label>If you currently have no pets, please list which type of animals you have owned in the past and approximately how long ago.</Label>
                <textarea class="form-control" cols="50" name="pastAnimals"></textarea>
            </div>

            <div class="form-group">
                <Label>What is your current veterinary clinic?</Label>
                <input class="form-control" type="text" name="currentVet" >
            </div>

            <div class="form-group">
                <Label>Where will the adopted animal sleep at night?</Label>
                <textarea class="form-control" cols="50" name="sleep"></textarea>
            </div>

            <div class="form-group">
                <Label>Does anyone in your home have allergies to certain pets?</Label>
                <textarea class="form-control" cols="50" name="allergies"></textarea>
            </div>
            
            <div class="form-group">
                <Label>Have you ever surrendered and animal before?  If so, why?</Label>
                <textarea class="form-control" cols="50" name="surrendered"></textarea>
            </div>
            
            <div class="form-group">
                <Label>Where will the animal live--strictly indoors, outdoors or both?</Label>
                <span>Please explain where he or she will spend most of their time.</span>
                <textarea class="form-control" cols="50" name="indoorOutdoor"></textarea>
            </div>

            <div class="form-group">
                <Label>How long will your adopted pet be home along? Where will he/she be kept?</Label>
                <textarea class="form-control" cols="50" name="homeAlone"></textarea>
            </div>

            <div class="form-group">
                <span>Please Provide two references who know your experience with animals. (Must be of no relation to you)</span>
                <table class="table table-bordered table-striped contained">
                    <tr>
                        <td>Name:</td>
                        <td>Telephone Number</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="reference1"></td>
                        <td><input type="tel" name="referenceNumber1"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="reference2"></td>
                        <td><input type="tel" name="referenceNumber2"></td>
                    </tr>
                    
                </table>

                <div>
                    <span>By submitting this form I agree that all information above is accurate to the best of my knowledge.</span>
                </div>
                

            <input class="btn btn-primary" type="submit">
        </form>
    </body>
</html>